/* Globals Buttons */
.btn {
  /* Explore Buttons */
  &-explore {
    padding: 1.063rem 3.75rem 17px 25px;
    background-color: $red-3;
    color: $white;
    text-transform: uppercase;
    position: relative;
    border: none;
    @extend .is-semibold;
    cursor: pointer;
    

    &[class*="red-2"] {
      &:after {
        background: $green-3;
      }
    }

    &[class*="green"] {
      background-color: $green-3;
      &:after {
        background: $red-3;
      }
    }

    &[class*="yellow"] {
      background-color: $yellow-1;
      color: $black-2;

      &:after {
        background: $red-3;
      }
    }

    &[class*="btn-simple"] {
      &::after {
        height: 0;
      }
    }

    &[class*="transparent"] {
      background-color: transparent;
      border: 1px solid rgb(255 255 255 / 50%);
      transition: all 0.5s ease 0s;

      &::after {
        background-color: $white;
        transition: all 0.5s ease 0s;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
      }

      &:hover:after {
        width: 100%;
        transition: all 0.5s ease 0s;
      }
    }

    &[class*="icon-whatapp"]::before {
      content: "\e962";
    }

    &[class*="icon-download"]::before {
      content: "\e916";
      font-size: 1.3rem;
    }

    &[class*="icon-left"] {
      padding: 20px 30px 20px 70px;

      &::before {
        left: 23px;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
      }

      &:hover {
        border-color: $white;
        transition: all 0.5s ease 0s;

        &::before {
          transform: translate3d(3px, 0, 0);
        }
      }
    }
    &[class*="blue"] {
      background-color: $blue-ee;
      color: $white;

      &:hover {
        color: $white;
      }

      &:after {
        background: $green-2;
      }
    }

    &[class*="ic-green"] {
      &::before {
        color: $green-3;
      }
    }

    &[class*="target"] {
      padding: 0.625rem 1.25rem;
      justify-content: center;
      align-items: center;

      &::before {
        display: none;
      }

      &::after {
        background-color: rgb(255 255 255 / 10%);
        transition: all 0.5s ease 0s;
        width: 0;
        height: 100%;
        bottom: 0;
        left: 0;
      }

      &:hover:after {
        transition: all 0.5s ease 0s;
      }
    }

    &[class*="hover-dark"] {
      &::after {
        background-color: rgb(62 62 62 / 30%);
        transition: all 0.5s ease 0s;
      }
    }

    &[class*="no-icon"] {
      &::before,
      &::after {
        display: none;
      }
    }

    &:before {
      font-family: "IconsExplora" !important;
      content: "\e907";
      right: 25px;
      position: absolute;
      top: calc(50% - 10px);
      font-size: 1rem;
      transition: all 0.5s ease 0s;
    }

    &:after {
      content: "";
      background: $yellow-1;
      position: absolute;
      width: 35%;
      max-width: 100px;
      height: 10px;
      bottom: -10px;
      left: 0;
      transition: all 0.5s ease 0s;
    }

    &:hover {
      color: $white;

      &:before {
        transform: translateX(5px);
        transition: all 0.5s ease 0s;
      }

      &:after {
        width: 100%;
        max-width: 100%;
        transition: all 0.5s ease 0s;
      }
    }

    &[class*="bg-gray"] {
      background-color: $gray-4;
      --bs-text-opacity: 1;
      color: $black-2;
      margin-top: 2rem;
    }
  }
  //Buttons Planetary
  &-planetary {
    border: none;
    background-color: $green-p1;
    color: $black-2;
    padding: 1.125rem 3.125rem 1.125rem 1.875rem;
    letter-spacing: 0.4rem;
   

    font-size: $p5-font-size;
    @extend .is-semibold;
    position: relative;
    transition: all 0.5s ease 0s;

    &[class*="blue"] {
      background-color: $blue-p2;
    }

    &[class*="beige"] {
      background-color: $yellow-p1;
    }

    &[class*="transparent"] {
      background-color: transparent;
      border: 1px solid $white;
      transition: all 0.5s ease 0s;
      text-transform: none;
      color: $white;
      font-size: $p5-font-size;
    }

    &[class*="target"] {
      background-color: transparent;
      border: 1px solid $white;
      transition: all 0.6s ease 0s;
      text-transform: none;
      color: $white;
      padding: 10px 20px;
      letter-spacing: 0;
      font-size: 0.91rem;
      font-weight: 400;
      position: relative;
      z-index: 1;
      font-size: $p4-font-size;

      &::after {
        position: absolute;
        background-color: $green-p1;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.2s ease 0s;

        z-index: -1;
      }

      &:hover {
        color: $black-2;
        font-weight: 400;

        &::after {
          width: 100%;
          transform: none;
          transition: all 0.3s ease 0s;
        }
      }

      &[class*="white"] {
        &::after {
          background-color: rgba(255, 255, 255, 0.1);
          -webkit-backdrop-filter: blur(48px);
          backdrop-filter: blur(48px);
        }

        &:hover {
          color: $white;
        }
      }
    }

    &:before {
      content: "";
      background-color: rgb(0 0 0 / 7%);
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.5s ease 0s;
    }

    &:after {
      font-family: "IconsExplora" !important;
      content: "\e925";
      right: 15px;
      position: absolute;
      top: calc(55% - 9px);
      font-size: 0.7rem;
      transition: all 0.5s ease 0s;
    }

    &:hover {
      color: $black-2;
      font-weight: 700;
      // background-color: #badb70;
      transition: all 0.5s ease 0s;

      &:before {
        width: 100%;
        transition: all 0.5s ease 0s;
      }

      &:after {
        transform: rotate3d(1, 0, 0, 180deg);
      }
    }
  }

  // Button disabled
  & .info {
    display: none;
  }

  &.is-disabled {
    background-color: rgba($red-1, 0.65);
    cursor: not-allowed;
    position: relative;

    &:hover {
      background-color: rgba($red-1, 0.7);
    }

    & .info {
      text-transform: none;
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translate(-50%, -100%);
      color: $white;
      background-color: $red-1;
      width: 80%;
      min-height: 2rem;
      padding: 0.5rem;
      text-align: center;
      font-size: $p4-font-size;
    }

    &:hover .info {
      display: block;
    }
  }
}

.is-loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;
 
  @keyframes spinner-border {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  &hover .is-loading{
    cursor: disabled;
  }

  &::after {
    left: calc(50% - 0.8em);
    top: calc(50% - 0.8em);
    position: absolute !important;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
    border-radius: 290486px;
    background: transparent;
    border-color: transparent #ffffff #ffffff;
    border-style: solid;
    border-width: 1.5px;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
  }
}
