.searchContainer {
    border: 2px solid $gray-6;
    border-radius: 30px;
    position: relative;
    padding: 0.5rem 2rem;
    max-width: 16rem;

    @include mediaMax(xs) {
        width: 100%;
    }

    &.blueFocus:focus-within {
        border-color: $blue-ee;
    }

    &.greenFocus:focus-within {
        border-color: $green-2;
    }

    &Input {
        padding-left: 1rem;
        outline: none;
        border: 0;
    }

    &Icon {
        position: absolute;
        left: 1rem;
        top: 0.5rem;
    }


}