.containerModalSessions {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 0;
  z-index: 2;
}

.modalSessions {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000bd;

  &__backgroundContainer {
    height: 100%;
    position: relative;
  }

  &__modalWindow {
    position: absolute;

    @media (max-width: $breakpoint-lg) {
      width: 90%;
    }

    @media (min-width: $breakpoint-lg) {
      width: 55rem;
    }

    &--btnClose {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 40px;
      height: 40px;
      border-radius: 25px;
      border: 2px solid $white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $gray-2;
      color: $black-1;
      cursor: pointer;
    }

    & iframe {
      width: 1px;
      min-width: 100%;
      min-height: 482px;
      margin: 0;
      padding: 0;
      overflow: hidden;

      @include mediaMax(sm) {
        min-height: 344px;
      }
    }
  }
}
