.notification{
    position: fixed;
    top: 90%;
    right: 5px;
    padding: 0.8rem;
    min-width: 280px;
    color: white;
    border-radius: 10px;
    transition: all .5s;
    @include mediaMin(lg) {
        top: 80%;
    }
}