.container {
  width: 100%;
  padding: 0 1rem;
  margin-right: auto;
  margin-left: auto;

  @include mediaMin(sm) {
    max-width: 540px;
  }

  @include mediaMin(md) {
    max-width: 720px;
  }

  @include mediaMin(lg) {
    max-width: 960px;
  }

  @include mediaMin(xl) {
    max-width: 1140px;
  }

  @include mediaMin(xxl) {
    max-width: 1320px;
  }
}

.sanitizerStyles {
  & p *,
  & p {
    @extend .is-size-3;
  }

  small {
    @extend .is-size-4;
  }

  & h1 *,
  & h1 {
    @extend .fs-1;
  }

  & h2 *,
  & h2 {
    @extend .fs-2;
  }

  & h3 {
    @extend .fs-3 !optional;
  }

  & h4 {
    @extend .fs-4 !optional;
  }

  & h5 {
    @extend .fs-5 !optional;
  }

  & h6 {
    @extend .fs-6 !optional;
  }

  & img {
    width: 100%;
  }

  & a {
    color: $purple-1;

    &:hover {
      color: $yellow-p1;
    }
  }

  & table {
    & tbody {
      & tr {
        border: 1px solid black;
        padding: 0.3rem 0.3rem;
      }

      & td {
        border: 1px solid black;
        padding: 0.3rem 0.3rem;
      }
    }
  }

  & img {
    width: 100% !important;
  }
}
