.container {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  margin-right: auto;
  margin-left: auto;

  @include mediaMin(sm) {
    max-width: 540px;
  }

  @include mediaMin(md) {
    max-width: 720px;
  }

  @include mediaMin(lg) {
    max-width: 960px;
  }

  @include mediaMin(xl) {
    max-width: 1140px;
  }

  @include mediaMin(xxl) {
    max-width: 1320px;
  }
}

.main-container {
  position: relative;
  width: 100%;
  padding: 2rem 4rem;
  padding-bottom: 7rem;
  z-index: 1;
  @include mediaMax(sm) {
    padding: 2rem;
  }
}

.spaced-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 0;
  width: 70%;
  margin: auto;
}

.two-columns-container {
  column-count: 2;
  column-gap: 2rem;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 2rem;
  flex-grow: 1;
  min-height: 15rem;

  & svg {
    animation: up-dowm 0.6s ease-in-out infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.5s;
    }
  }
}

.content {
  & p *,
  & p {
    @extend .is-size-3;
  }

  small {
    @extend .is-size-4;
  }

  & h1 *,
  & h1 {
    @extend .fs-1;
  }

  & h2 *,
  & h2 {
    @extend .fs-2;
  }

  & h3 {
    @extend .fs-3 !optional;
  }

  & h4 {
    @extend .fs-4 !optional;
  }

  & h5 {
    @extend .fs-5 !optional;
  }

  & h6 {
    @extend .is-size-1 !optional;
  }

  & img {
    width: 100%;
  }

  & a {
    color: $primary-color;

    &:hover {
      color: $accent-color;
    }
  }

  & table {
    & tbody {
      & tr {
        border: 1px solid black;
        padding: 0.3rem 0.3rem;
      }

      & td {
        border: 1px solid black;
        padding: 0.3rem 0.3rem;
      }
    }
  }

  & img {
    width: 100% !important;
  }
}

.double-color-container {
  min-height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;

  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: $secondary-color;
    z-index: -1;
  }

  &::before {
    left: unset;
    right: 0;
    background-color: $primary-color;
  }
}
