@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vzzn2u');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vzzn2u#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?vzzn2u')
      format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?vzzn2u')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?vzzn2u##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-explora {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square-list {
  &:before {
    content: $icon-square-list;
  }
}

.icon-list {
  &:before {
    content: $icon-list;
  }
}

.icon-planet-store {
  &:before {
    content: $icon-planet-store;
  }
}

.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}

.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}

.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}

.icon-planet-ticket {
  &:before {
    content: $icon-planet-ticket;
  }
}

.icon-about-b {
  &:before {
    content: $icon-about-b;
  }
}

.icon-gift-ticket {
  &:before {
    content: $icon-gift-ticket;
  }
}

.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}

.icon-arrow-right-cirlcle {
  &:before {
    content: $icon-arrow-right-cirlcle;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-store {
  &:before {
    content: $icon-store;
  }
}

.icon-about {
  &:before {
    content: $icon-about;
  }
}

.icon-currency-circle {
  &:before {
    content: $icon-currency-circle;
  }
}

.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}

.icon-arrow-up-cirlcle {
  &:before {
    content: $icon-arrow-up-cirlcle;
  }
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}

.icon-user {
  &:before {
    content: $icon-user;
  }
}

.icon-city {
  &:before {
    content: $icon-city;
  }
}

.icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}

.icon-certificate-excellence {
  &:before {
    content: $icon-certificate-excellence;
  }
}

.icon-ticket-pack {
  &:before {
    content: $icon-ticket-pack;
  }
}

.icon-location-b {
  &:before {
    content: $icon-location-b;
  }
}

.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}

.icon-arrow-down-cirlcle {
  &:before {
    content: $icon-arrow-down-cirlcle;
  }
}

.icon-clock-b {
  &:before {
    content: $icon-clock-b;
  }
}

.icon-users {
  &:before {
    content: $icon-users;
  }
}

.icon-percentage {
  &:before {
    content: $icon-percentage;
  }
}

.icon-clock {
  &:before {
    content: $icon-clock;
  }
}

.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}

.icon-arrow-left-cirlcle {
  &:before {
    content: $icon-arrow-left-cirlcle;
  }
}

.icon-planet {
  &:before {
    content: $icon-planet;
  }
}

.icon-family {
  &:before {
    content: $icon-family;
  }
}

.icon-Traveller-choise {
  &:before {
    content: $icon-Traveller-choise;
  }
}

.icon-microbiology-udea {
  &:before {
    content: $icon-microbiology-udea;
  }
}

.icon-best-aquarium {
  &:before {
    content: $icon-best-aquarium;
  }
}

.icon-cart {
  &:before {
    content: $icon-cart;
  }
}

.icon-plus {
  &:before {
    content: $icon-plus;
  }
}

.icon-plus-b {
  &:before {
    content: $icon-plus-b;
  }
}

.icon-eye {
  &:before {
    content: $icon-eye;
  }
}

.icon-planetary {
  &:before {
    content: $icon-planetary;
  }
}

.icon-play-circle {
  &:before {
    content: $icon-play-circle;
  }
}

.icon-download {
  &:before {
    content: $icon-download;
  }
}

.icon-fullpack {
  &:before {
    content: $icon-fullpack;
  }
}

.icon-teacher {
  &:before {
    content: $icon-teacher;
  }
}

.icon-clock-c {
  &:before {
    content: $icon-clock-c;
  }
}

.icon-chair {
  &:before {
    content: $icon-chair;
  }
}

.icon-triangle-bot {
  &:before {
    content: $icon-triangle-bot;
  }
}

.icon-triangle-top {
  &:before {
    content: $icon-triangle-top;
  }
}

.icon-triangle-right {
  &:before {
    content: $icon-triangle-right;
  }
}

.icon-triangle-left {
  &:before {
    content: $icon-triangle-left;
  }
}

.icon-warning {
  &:before {
    content: $icon-warning;
  }
}

.icon-location-c {
  &:before {
    content: $icon-location-c;
  }
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}

.icon-client {
  &:before {
    content: $icon-client;
  }
}

.icon-arrow-c-right {
  &:before {
    content: $icon-arrow-c-right;
  }
}

.icon-arrow-c-left {
  &:before {
    content: $icon-arrow-c-left;
  }
}

.icon-arrow-c-top {
  &:before {
    content: $icon-arrow-c-top;
  }
}

.icon-arrow-c-bot {
  &:before {
    content: $icon-arrow-c-bot;
  }
}

.icon-less {
  &:before {
    content: $icon-less;
  }
}

.icon-currency-circle-b {
  &:before {
    content: $icon-currency-circle-b;
  }
}

.icon-people-group {
  &:before {
    content: $icon-people-group;
  }
}

.icon-percentage-b {
  &:before {
    content: $icon-percentage-b;
  }
}

.icon-wheelchair {
  &:before {
    content: $icon-wheelchair;
  }
}

.icon-family-p {
  &:before {
    content: $icon-family-p;
  }
}

.icon-important-triangle-l {
  &:before {
    content: $icon-important-triangle-l;
  }
}

.icon-child-light {
  &:before {
    content: $icon-child-light;
  }
}

.icon-no-hamburguer {
  &:before {
    content: $icon-no-hamburguer;
  }
}

.icon-no-bone {
  &:before {
    content: $icon-no-bone;
  }
}

.icon-users-p {
  &:before {
    content: $icon-users-p;
  }
}

.icon-file-p {
  &:before {
    content: $icon-file-p;
  }
}

.icon-target-p-light {
  &:before {
    content: $icon-target-p-light;
  }
}

.icon-check-circle-p {
  &:before {
    content: $icon-check-circle-p;
  }
}

.icon-tickets-p {
  &:before {
    content: $icon-tickets-p;
  }
}

.icon-location-p-light {
  &:before {
    content: $icon-location-p-light;
  }
}

.icon-coin-circle {
  &:before {
    content: $icon-coin-circle;
  }
}

.icon-percentage-flowr {
  &:before {
    content: $icon-percentage-flowr;
  }
}

.icon-degrees {
  &:before {
    content: $icon-degrees;
  }
}

.icon-conversation {
  &:before {
    content: $icon-conversation;
  }
}

.icon-family-two {
  &:before {
    content: $icon-family-two;
  }
}

.icon-woman-men {
  &:before {
    content: $icon-woman-men;
  }
}

.icon-user-c {
  &:before {
    content: $icon-user-c;
  }
}

.icon-group {
  &:before {
    content: $icon-group;
  }
}

.icon-important-light {
  &:before {
    content: $icon-important-light;
  }
}

.icon-facebook-icon {
  &:before {
    content: $icon-facebook-icon;
  }
}

.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}

.icon-important {
  &:before {
    content: $icon-important;
  }
}

.icon-pencil-up {
  &:before {
    content: $icon-pencil-up;
  }
}

.icon-location-bolder {
  &:before {
    content: $icon-location-bolder;
  }
}

.icon-mail-contact-form {
  &:before {
    content: $icon-mail-contact-form;
  }
}

.icon-member-add {
  &:before {
    content: $icon-member-add;
  }
}

.icon-child {
  &:before {
    content: $icon-child;
  }
}

.icon-people-two {
  &:before {
    content: $icon-people-two;
  }
}

.icon-file-statistics {
  &:before {
    content: $icon-file-statistics;
  }
}

.icon-chronometer {
  &:before {
    content: $icon-chronometer;
  }
}

.icon-license {
  &:before {
    content: $icon-license;
  }
}

.icon-phone {
  &:before {
    content: $icon-phone;
  }
}

.icon-location-form {
  &:before {
    content: $icon-location-form;
  }
}

.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}

.icon-like {
  &:before {
    content: $icon-like;
  }
}

.icon-medal {
  &:before {
    content: $icon-medal;
  }
}

.icon-full-family {
  &:before {
    content: $icon-full-family;
  }
}

.icon-file-check {
  &:before {
    content: $icon-file-check;
  }
}

.icon-zoom {
  &:before {
    content: $icon-zoom;
  }
}

.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
