.banner {
  &-info {
    &-title {
      @extend .fs-3;
      max-width: 60%;
      color: $white;
    }

    &-btns {
      padding-top: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      & a {
        @extend .is-size-4;
        border: 1px solid $white;
        color: $white;
        padding: 0.5rem 1.5rem;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

.banner-slide {
  @extend .container;
  background-size: cover;
  background-position: top center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 3rem 4rem;

  @include mediaMax(sm) {
    padding: 1rem 2.5rem;
  }

  &.is-rigth {
    align-items: flex-end;
    text-align: end;

    @include mediaMax(sm) {
      align-items: flex-start;
      text-align: start;
    }
  }

  &.is-primary {
    background-color: $primary-color;
    color: $primary-text-color;
  }
  &-content {
    @extend .container;
    & h3 {
      max-width: 38rem;
      padding: 1rem 0;
      padding-top: 3rem;
      @extend .fs-3;

      @include mediaMax(sm) {
        max-width: 80vw;
      }
    }
    & p {
      max-width: 38rem;
    }
  }
}

.banner-simple-slide {
  width: 100%;
  min-height: 65vh;
  display: grid;
  grid-template-columns: 4fr 5fr;
  padding-top: 6rem;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @include mediaMax(lg) {
    grid-template-columns: 6fr 4fr;
  }

  @include mediaMax(md) {
    grid-template-columns: 1fr 0;
    background-image: unset;
  }

  @include mediaMax(xs) {
    background-size: auto 19rem;
    background-position: top right;
    min-height: 40vh;
  }

  &-col-1,
  &-col-2 {
    z-index: 1;
  }

  &-col-2 {
    z-index: 0;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  &-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 8rem;
    gap: 3rem;
    @include mediaMax(md) {
      padding: 1rem 2rem;
    }
    @include mediaMax(xs) {
      justify-content: flex-start;
    }

    & h3 {
      @extend .fs-4;
      line-height: 1.2em;
      text-transform: uppercase;
      max-width: 18rem;
      @include mediaMax(xs) {
        padding-top: 4rem;
        min-height: 11rem;
      }
    }

    & .subtitle {
      @extend .is-size-1;
      line-height: 1.5em;
      width: 30rem;
      font-weight: 300;
    }
  }
}

.image-banner {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/7;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.banner-basic {
  @extend .main-container;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 10rem;
  position: relative;
  &-text {
    @extend .fs-5;
    max-width: 45rem;
    white-space: pre-line;
  }
}

.banner-video {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  overflow: hidden;
  margin-bottom: 3rem;

  &-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    overflow: hidden;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(#000000, 0.4);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
