.banner-slider.swiper {
  overflow-y: initial;
  padding-bottom: 3rem;
  max-width: 100vw;

  & .swiper {
    width: 100%;
    &-button {
      &-next,
      &-prev {
        background-image: url("/assets/icons/arrow-circle.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 32px;
        height: 32px;

        &::after {
          display: none;
        }
        &:hover {
          opacity: 1;
        }
      }
      &-prev {
        transform: rotate(180deg);
      }
      &-disabled {
        display: none;
      }
    }
  }
}

.simple-slider.swiper {
  overflow-y: initial;
  padding-bottom: 2rem;

  & .swiper {
    width: 100%;
  }

  & .swiper-slide {
    margin: auto;
    width: auto;
  }
}

.slider-btn {
  &-next,
  &-prev {
    position: absolute;
    z-index: 3;
    background-image: url("/assets/icons/arrow-circledark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
  &-next {
    right: -35px;
  }
  &-prev {
    left: -35px;
    transform: translateY(-50%) rotate(180deg);
  }
}
